[submodule "px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/drivers/DynamixelSDK"]
	path = src/drivers/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = humble-devel
[submodule "src/drivers/feetech_ros2_driver"]
	path = src/drivers/feetech_ros2_driver
	url = https://github.com/BioMorphic-Intelligence-Lab/feetech_ros2_driver.git
	branch = ats_implementation
